.meme-browser-root {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 72px);
    width: 100vw;

    font-family: 'Roboto Slab', serif;
}

.meme-browser-root.results-active {
    height: auto;
}

.meme-browser-root .input-header {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px 0;

    /* background: #314755;
    background: -webkit-linear-gradient(to left, #26a0da, #5791b4);
    background: linear-gradient(to left, #26a0da, #5791b4); */
}

.meme-browser-root .input-header h1 {
    margin-bottom: 10px;
}

.meme-browser-root .input-header .form-field {
    width: 90%;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {

}