.front-page-background {
    /* background: #314755;
    background: -webkit-linear-gradient(to left, #26a0da, #5791b4);
    background: linear-gradient(to left, #26a0da, #5791b4); */
    background-color: #f5f5f5 !important;
    /* background-image: url("../../Assets/Images/bg.jpg");
    background-repeat: no-repeat; */
}