.selector-root {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    font-family: 'Anton', sans-serif;
}

.selector-root .drop-zone {
    flex: 1;
    border: 2.5px dashed rgb(53, 53, 53);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 2px;
    padding: 5px;
    border-radius: 3px;
}

.selector-root .drop-zone p {
    margin: 0;
}

.selector-root .image-selection-box {
    flex: 2;
    height: 100%;
    /* border: 1px solid gray;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center; */

    /* border-radius: 3px; */
}

.selector-root .image-selection-box p {
    font-size: 1.5rem;
    /* margin: 0; */
}

.selector-root .image-selection-box img {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.selector-root img {
    width: 50%;
}

.ant-modal {
    height: 80vh;
}

.ant-modal-body {
    padding: 0 !important;
}